    body {
        font-family: "Roboto", sans-serif;
        color: #434455;
        background-color: #FFFFFF;
    }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p {
            margin-top: 0;
            margin-bottom: 0;
            padding-left: 0;
        }
    
    .logo {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        margin-right: 76px;                
    }

    .header {
        border-bottom: 1px solid #e7e9fc;
        box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
    }

    .header-container {
        display: flex;
        align-items: center;
    }

    .container {
        width: 1158px;
        margin: 0 auto;
        padding: 0 15px;
    }

    img {
        display: block;
        max-width: 100%;
    }

    a {
        text-decoration: none;
    }

    ul {
        list-style: none;
        margin: 0;
        padding-left: 0;
        margin-bottom: 0;
        padding-left: 0;
    }

    .studio-class {
        color: #2e2f42;
    }

    .nav {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        gap: 0px;
    }

    .menu {
        display: flex;
        gap: 40px;
    }
    
    .nav-menu {
        font-weight: 500;
        color: #2e2f42;
        }

    .nav-menu:hover,
    .nav-menu:focus, 
    .contact-link:hover,
    .contact-link:focus {
        color: #404bbf;
    }
    
        /* Перший пункт меню (Studio) */
        .menu li:first-child .nav-menu {
            position: relative;
            color: #404bbf;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            text-decoration: none;
            padding: 24px 0;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        .menu li:first-child .nav-menu::after {
            content: '';
            width: 100%;
            position: absolute;
            left: 0;
            bottom: -1px;
            height: 4px;
            background-color: #404bbf;
            border-radius: 2px;
            transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        .menu li:first-child .nav-menu:hover::after,
        .menu li:first-child .nav-menu:focus::after {
            width: 100%;
        }
    
        /* Другий пункт меню (Portfolio) */
        .menu li:nth-child(2) .nav-menu {
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #2e2f42;
            text-decoration: none;
            padding: 24px 0;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        .menu li:nth-child(2) .nav-menu:hover,
        .menu li:nth-child(2) .nav-menu:focus {
            color: #404bbf;
        }
    
        /* Третій пункт меню (Contacts) */
        .menu li:nth-child(3) .nav-menu {
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #2e2f42;
            text-decoration: none;
            padding: 24px 0;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        .menu li:nth-child(3) .nav-menu:hover,
        .menu li:nth-child(3) .nav-menu:focus {
            color: #404bbf;
        }

        .contact-list {
            display: flex;
            align-items: center;
            gap: 40px;
        }
    
        .contact-address {
            font-style: normal;
            margin-left: auto;
        }

        .contact-link {
            color: #434455;
            display: block;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        } 
        .nav-menu, .contact-link {
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            text-decoration: none;
            padding: 24px 0;
        }

        .contact-link:hover,
        .contact-link:focus {
            color: #404bbf;
        }

    .main-content {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/heroimage.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        max-width: 1440px;
        background-color: #2e2f42;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        align-items: center;
        padding: 188px 0;
        margin: 0 auto;
    }

    .container-name {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        color: #fff;
        margin-bottom: 48px;
        max-width: 496px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .btn-box {
        display: block;
        background: #4d5ae5;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        border: none;
        min-width: 169px;
        height: 56px;
        text-align: center;
        cursor: pointer;
        text-decoration: none;
        margin-left: auto;
        margin-right: auto;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

   .btn-box:hover,
   .btn-box:focus {
       background-color: #404bbf;
   }

.section-content {
    padding: 120px 0;
}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.content-list {
    display: flex;
    gap: 24px;
}

.content-item {
    width: calc((100% - 72px) / 4);
}

.content-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: left;
    margin-bottom: 8px;
}

.content-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/*TEAM*/
/*TEAM*/

.team-content {
    background: #f4f4fd;
    padding: 120px 0;
}

.team-header {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    width: calc((100% - 72рх) / 4);
    gap: 24px;
    align-items: center;
    justify-content: center;
}

.team-item {
    background-color: white;
    width: 264px;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-employee {
    padding: 32px 0;
}

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}

.team-social {
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 8px;
    gap: 24px;
}

.team-icons,
.footer-icons {
    width: 40px;
    height: 40px;
}

.social-page {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #4d5ae5;
}

.social-icons,
.footer-social-icons {
    fill: #f4f4fd;
}

.social-page:hover,
.social-page:focus {
    background-color: #404bbf;
}
/*PORTFOLIO*/
   .portfolio-content {
       padding: 120px 0;
   }

   .portfolio-header {
       text-transform: capitalize;
       font-weight: 700;
       font-size: 36px;
       line-height: 1.11;
       letter-spacing: 0.02em;
       color: #2e2f42;
       text-align: center;
       margin-bottom: 72px;
   }

   .portfolio-list {
       display: flex;
       flex-wrap: wrap;
       gap: 24px;
       align-items: center;
       justify-content: center;
       box-shadow: 0 4px 4px 0 rgba;
       row-gap: 48px;
   }

   .portfolio-item {
       width: calc((100% - 48px) / 3);
       transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }

   .portfolio-item:hover {
       box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
   }

   .portfolio-item:nth-last-child(-n + 3) {
       margin-bottom: 0;
   }

   .portfolio-item:hover .text-overlay {
       transform: translateY(0);
   }

   .card-overlay {
       position: relative;
       display: flex;
       overflow: hidden;
   }

    .text-overlay {
        position: absolute;
        margin: 0 auto;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #4d5ae5;
        color: #f4f4fd;
        padding: 40px 32px;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

   .portfolio-app {
        padding: 32px 16px;
        border: 1px solid #e7e9fc;
        border-top: none;
   }

   .portfolio-name {
       font-weight: 500;
       font-size: 20px;
       line-height: 1.2;
       letter-spacing: 0.02em;
       color: #2e2f42;
       margin-bottom: 8px;
   }

   .portfolio-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--color-f4f4fd, #f4f4fd);
        color: #434455;
       }
/*footer*/

.page-footer {
    background-color: #2e2f42;
    align-items: left;
    padding: 100px 0;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.page-logo {
    margin-right: 120px;
}

.logo-footer {
    display: inline-block;
    margin-bottom: 16px;
    width: 115px;
    height: 24px;
    align-items: left;
    text-align: left;
}

.logo-footer .logo-part {
    color: #f4f4fd;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    text-align: left;
    max-width: 264px;
}

.footer-social {
    align-items: left;
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
}

.name-social-footer {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    text-align: left;
    max-width: 208px;
}

.footer-social-list {
    display: flex;
    gap: 16px;
    align-items: center;
}

.footer-social-page {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-page:hover,
.footer-social-page:focus {
    background-color: #31d0aa;
}


/* footer sibscribe */

.form-subscribe-container {
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    margin-left: 80px;
}

.form-submit-btn:hover {
    background-color: #3b4ac7;
}


.subscribe-text {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}
.subscribe-form {
    display: flex;
    gap: 24px;
}

.email-input-subscribe {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
}

.email-input-subscribe::placeholder {
    color: #ffffff;
}

.submit-button-subscribe {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    padding: 8px 24px;

}

.button-icon-subscribe {
    margin-left: 16px;
    fill: #fff;
}

/* modal */

.backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    width: 408px;
    min-height: 584px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 72px 24px 24px 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-open {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-open:hover,
.modal-open:focus {
    background-color: #404bbf;
    border: none;
}

.modal-open-close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-open:hover .modal-open-close,
.modal-open:focus .modal-open-close {
    fill: #ffffff;
}

.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.modal-field {
    margin-bottom: 8px;
}

.comment-field {
    margin-bottom: 16px;
}

.modal-input {
    width: 100%;
    border-radius: 4px;
    height: 40px;
    background-color: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: #4d5ae5;
}

.modal-texarea:focus {
    border-color: #4d5ae5;
}


.modal-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.input-wrapper {
    position: relative;
}

.modal-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #2e2f42;
}

.input-wrapper:hover .person-light {
    fill: #4d5ae5;
}

.modal-textarea {
    resize: none;
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    padding: 8px 16px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea::placeholder,
.modal-check-text {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.modal-textarea:focus {
    border-color: #4d5ae5;
    outline: none;
}

.modal-checkbox-field {
    margin-bottom: 24px;
}

.modal-check-text {
    color: #8e8f99;
    align-items: center;
    line-height: 1.17;
    letter-spacing: 0.04em;
}



.modal-checkbox-accept {
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    width: 16px;
    height: 16px;
    margin-right: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check:checked+.modal-check-text .modal-checkbox-accept {
    background-color: #404bbf;
    border: none;
}

.modal-check:checked+.modal-check-text .modal-checkbox-accept {
    fill: #f4f4fd;
}

.modal-privacy-link {
    color: #4d5ae5;
}

.form-submit-btn {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 16px 32px;
}